<form (ngSubmit)="onSubmit()" #inscrpform="ngForm">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>New User</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Login" #login="ngModel" name="login" [(ngModel)]="user.login">
              <mat-error *ngIf="login?.errors?.required">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="user.password">
              <mat-error *ngIf="password?.errors?.required">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="First name" #fname="ngModel" name="fname" [(ngModel)]="user.fname">
              <mat-error *ngIf="fname?.errors?.required">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Last name" #lname="ngModel" name="lname" [(ngModel)]="user.lname">
              <mat-error *ngIf="lname?.errors?.required">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="number" #phone="ngModel" name="phone" placeholder="Phone" [(ngModel)]="user.phone">
              <mat-error *ngIf="phone?.errors?.required">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
         
        </div>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="inscrpform.form.invalid" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
  