
<div class="mat-elevation-z8">
  <button mat-button style="float: right" (click)="openAddUser()">
    Add a new User
  </button>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
      <td mat-cell *matCellDef="let row">{{row.login}}</td>
    </ng-container>

    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{row.fname}}</td>
    </ng-container>
    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Nme</th>
      <td mat-cell *matCellDef="let row">{{row.lname}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let row">{{row.phone}}</td>
    </ng-container>
    <ng-container matColumnDef="bdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</th>
      <td mat-cell *matCellDef="let row">{{row.bdate}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="Updateuser(row)">
          <mat-icon>update</mat-icon>
        </button>

        <button mat-button color="primary" (click)="deleteuser(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
